/*
gray #E8E8ED white #FFFFFF
<i class="bi bi-apple"></i>   <i class="bi bi-bag"></i>    <i class="bi bi-search"></i>                   */
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:white;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Nav.js Component CSS */
header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 3;
}
nav{
    display:flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
.logo i{
    color:#FFFFFF;
}
 nav a{
    color:black;
    text-decoration: none;
    margin:20px;
}

.navbar a{
    font-size: 13px;
}


.offers{
    background-color:#1d1d1f;
    font-size:15px;
    color:#FFFFFF;
    padding:70px 10px 20px 10px;
    text-align: center;
}
.offers span a{
    color :#1560BD;
    text-decoration: none;
}

/* section1.js Module css */
.section1{
    display:block
}
.part1{
    position: relative;
}
.part1 .part1_text{
    position:absolute;
    bottom: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}
.part1_text h2{
    font-size: 27px;
    line-height: 2;
}
.part1_text button{
           background-color: #fff;
           border: none;
           padding: 10px 20px;
           border-radius: 20px;
           margin: 25px 5px 10px 5px;
}
.part1_text .btn-1 a{
    text-decoration: none;
    font-size: 17px;
    color: #000000;
}
.part1_text .btn-2{
    background:none;
}
.part1_text .btn-2 a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
.part1_text .btn-2 a:hover{
    background-color: #fff;
    color: #000000;
}
.part2{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
   
}
.part2 img{
    width: 100%;
     height: 95vh;
}
.part2_text{
    color: #fff;
    position: absolute;
    width: 55vh;
    top: 10vh;
    text-align: center;
}
.part2_text h1{
    font-size: 50px;
}
.part2_text h2{
    font-size: 27px;
    margin: 20px 0px;
}

.part2_text button{
    background-color: #1560BD;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 25px 5px 10px 5px;
}
.part2_text .btn-1 a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}
.part2_text .btn-2{
    background:none;
}
.part2_text .btn-2 a{
    text-decoration: none;
    font-size: 17px;
    color: #1560BD;
    border: 1px solid #1560BD;
    padding: 10px 20px;
    border-radius: 20px;
}
.part2_text .btn-2 a:hover{
    background-color: #1560BD;
    color: #fff;
}



/* Section-2 Component css */
.section2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.box{
    position: relative;
    max-width: 49%;
    margin: auto;
     display: inline-flex;
    justify-content: center;
   overflow: hidden;
}
.section2 .bg_image{
    width: 100%;
    transform: scale(1.5);
}
.section2 .text{
    width: 50%;
    position: absolute;
    top: 5vh;
    text-align: center;
}
.section2 .text h1{
    font-size: 4cqmin;
}
.section2 .text h2{
    font-size: 25px;
    margin: 10px 0px;
    font-weight: 200;
}

.section2 .text button{
    background-color: #1560BD;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    
}
.section2 .text .btn-1 a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
}
.section2 .text .btn-2{
    background:none;
}
.section2 .text .btn-2 a{
    text-decoration: none;
    font-size: 17px;
    color: #1560BD;
    border: 1px solid #1560BD;
    padding: 10px 20px;
    border-radius: 20px;
}
.section2 .text .btn-2 a:hover{
    background-color: #1560BD;
    color: #fff;
}
