/*
gray #E8E8ED white #FFFFFF
<i class="bi bi-apple"></i>   <i class="bi bi-bag"></i>    <i class="bi bi-search"></i>                   */
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:white;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Nav.js Component CSS */
header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 3;
}
nav{
    display:flex;
    justify-content: center;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}
.logo i{
    color:#FFFFFF;
}
 nav a{
    color:black;
    text-decoration: none;
    margin:20px;
}

.navbar a{
    font-size: 13px;
}


.offers{
    background-color:#1d1d1f;
    font-size:15px;
    color:#FFFFFF;
    padding:70px 10px 20px 10px;
    text-align: center;
}
.offers span a{
    color :#1560BD;
    text-decoration: none;
}

/* section1.js Module css */
.section1{
    margin-top: 20px;
}
.section1 .part1{
    position: relative;
}
.section1 .part1 .part1_text{
    position:absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #fff;
}